<md-list ng-cloak flex layout-padding>
    <h2 class="md-title">Klingeln verwalten</h2>

    <md-list-item class="md-2-line" ng-repeat="bell in bellController.bells">
        <img class="md-avatar" src="lib/material-design-icons/hardware/svg/production/ic_developer_board_48px.svg">
        <div class="md-list-item-text">
            <h3> {{ bell.name }} </h3>
            <p>{{ bell.uuid }}</p>
        </div>
        <md-switch class="md-secondary" ng-model="bell.active"></md-switch>
    </md-list-item>
</md-list>
