<md-list ng-cloak flex layout-padding>
    <h2 class="md-title">Besuche von "{{ bellRingController.bell.name }}"</h2>

    <md-list-item ng-click="bellRingController.openRing(ring)" ng-repeat="ring in bellRingController.rings">
        <img ng-src="img/uploads/{{ring.image}}" class="md-avatar" ng-if="ring.image != ''"/>
        <img  ng-src="lib/material-design-icons/action/svg/production/ic_dashboard_24px.svg" class="md-avatar" ng-if="ring.image == ''"/>
        <div class="md-list-item-text">
            <p>{{ ring.date }}</p>
        </div>
        <md-icon ng-click="bellRingController.delete(ring)" class="md-secondary" md-svg-icon="lib/material-design-icons/action/svg/production/ic_delete_24px.svg">
        </md-icon>

    </md-list-item>
</md-list>