<div layout="row" layout-align="center">
    <div flex-xs flex-gt-xs="50" layout="column" layout-padding>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Registrierung</span>
                </md-card-title-text>
                <md-card-title-text>
                    <span ng-if="loginController.formErrors" class="md-subhead">Bitte überprüfen Sie Ihre Eingaben.</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>E-Mail</label>
                    <input ng-model="signupController.user.email" type="text">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Passwort</label>
                    <input ng-model="signupController.user.password" type="password">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Passwort wiederholen</label>
                    <input ng-model="signupController.user.passwordRepeat" type="password">
                </md-input-container>
            </md-card-content>

            <md-card-actions layout="row" layout-align="start center">
                <md-button ng-click="signupController.signup()">Registrieren</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
